trigger:
  batch: true
  branches:
    include:
      - main
      - stable-*

pr:
  autoCancel: true
  branches:
    include:
      - main
      - stable-*

schedules:
  - cron: 0 8 * * *
    displayName: "Nightly (branch: main)"
    always: true
    branches:
      include:
        - main
  - cron: 0 10 * * *
    displayName: "Nightly (active stable branches)"
    always: true
    branches:
      include:
        - stable-4
        - stable-3
  - cron: 0 11 * * 0
    displayName: "Weekly (old stable branches)"
    always: true
    branches:
      include:
        - stable-2

variables:
  - name: checkoutPath
    value: ansible_collections/community/network
  - name: coverageBranches
    value: main
  - name: pipelinesCoverage
    value: coverage
  - name: entryPoint
    value: tests/utils/shippable/shippable.sh
  - name: fetchDepth
    value: 0

resources:
  containers:
    - container: default
      image: quay.io/ansible/azure-pipelines-test-container:3.0.0

pool: Standard

stages:
### Sanity
  - stage: Sanity_devel
    displayName: Sanity devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Test {0}
          testFormat: devel/sanity/{0}
          targets:
            - test: 1
            - test: 2
            - test: 3
            - test: 4
            - test: 5
            - test: extra

  - stage: Sanity_2_14
    displayName: Sanity 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Test {0}
          testFormat: 2.14/sanity/{0}
          targets:
            - test: 1
            - test: 2
            - test: 3
            - test: 4
            - test: 5

  - stage: Sanity_2_13
    displayName: Sanity 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Test {0}
          testFormat: 2.13/sanity/{0}
          targets:
            - test: 1
            - test: 2
            - test: 3
            - test: 4
            - test: 5

  - stage: Sanity_2_12
    displayName: Sanity 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Test {0}
          testFormat: 2.12/sanity/{0}
          targets:
            - test: 1
            - test: 2
            - test: 3
            - test: 4
            - test: 5

  - stage: Sanity_2_11
    displayName: Sanity 2.11
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Test {0}
          testFormat: 2.11/sanity/{0}
          targets:
            - test: 1
            - test: 2
            - test: 3
            - test: 4
            - test: 5

### Units
  - stage: Units_devel
    displayName: Units devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: devel/units/{0}/1
          targets:
            - test: '3.10'

  - stage: Units_2_14
    displayName: Units 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.14/units/{0}/1
          targets:
            - test: '3.10'

  - stage: Units_2_13
    displayName: Units 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.13/units/{0}/1
          targets:
            - test: 3.8
            - test: '3.10'

  - stage: Units_2_12
    displayName: Units 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.12/units/{0}/1
          targets:
            - test: 3.8
            - test: 3.9

  - stage: Units_2_11
    displayName: Units 2.11
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.11/units/{0}/1
          targets:
            - test: 2.6
            - test: 2.7
            - test: 3.5
            - test: 3.6
            - test: 3.7
            - test: 3.8
            - test: 3.9

### Cloud
  - stage: Cloud_devel
    displayName: Cloud devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: devel/cloud/{0}/1
          targets:
            - test: 3.8
            - test: 3.9
            - test: "3.10"

  - stage: Cloud_2_14
    displayName: Cloud 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.14/cloud/{0}/1
          targets:
            - test: 3.8
            - test: 3.9
            - test: "3.10"

  - stage: Cloud_2_13
    displayName: Cloud 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.13/cloud/{0}/1
          targets:
            - test: 3.9
            - test: "3.10"

  - stage: Cloud_2_12
    displayName: Cloud 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.12/cloud/{0}/1
          targets:
            - test: 3.8
            - test: "3.10"

  - stage: Cloud_2_11
    displayName: Cloud 2.11
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.11/cloud/{0}/1
          targets:
            - test: 3.8

### Finally
  - stage: Summary
    condition: succeededOrFailed()
    dependsOn:
      - Sanity_devel
      - Sanity_2_14
      - Sanity_2_13
      - Sanity_2_12
      - Sanity_2_11
      - Units_devel
      - Units_2_14
      - Units_2_13
      - Units_2_12
      - Units_2_11
      - Cloud_devel
      - Cloud_2_14
      - Cloud_2_13
      - Cloud_2_12
      - Cloud_2_11
    jobs:
      - template: templates/coverage.yml
